<div class="pet-form-container">
  <app-loading-indicator [show]="loading"></app-loading-indicator>
  <form (ngSubmit)="onSubmit(petForm)" #petForm="ngForm" *ngIf="!loading">
    <div class="custom-form-item">
      <label for="name">Name</label>
      <input
        [(ngModel)]="pet.name"
        name="name"
        type="text"
        [disabled]="mode === 'View'"
        required
        #name="ngModel"
        [class.is-invalid]="name.invalid && (name.dirty || name.touched)"
        [class.is-valid]="name.valid"
      />
      <div
        class="error-message"
        *ngIf="name.invalid && (name.dirty || name.touched)"
      >
        The name is required!
      </div>
    </div>
    <div class="custom-form-item">
      <label for="species">Species</label>
      <input
        [(ngModel)]="pet.species"
        name="species"
        type="text"
        [disabled]="mode === 'View'"
        required
        #species="ngModel"
        [class.is-invalid]="
          species.invalid && (species.dirty || species.touched)
        "
        [class.is-valid]="species.valid"
      />
      <div
        class="error-message"
        *ngIf="species.invalid && (species.dirty || species.touched)"
      >
        The species is required!
      </div>
    </div>
    <div class="dates">
      <div class="custom-form-item">
        <label for="dateOfBirth">Date of birth</label>
        <div *ngIf="mode === 'View' && !pet.dateOfBirth">Unknown</div>
        <div *ngIf="!(mode === 'View' && !pet.dateOfBirth)">
          <input
            [(ngModel)]="pet.dateOfBirth"
            name="dateOfBirth"
            type="date"
            [disabled]="mode === 'View'"
            #dateOfBirth="ngModel"
            [class.is-invalid]="
              dateOfBirth.invalid && (dateOfBirth.dirty || dateOfBirth.touched)
            "
            [class.is-valid]="dateOfBirth.valid"
          />
          <div
            class="error-message"
            *ngIf="
              dateOfBirth.invalid && (dateOfBirth.dirty || dateOfBirth.touched)
            "
          >
            Invalid format!
          </div>
        </div>
      </div>
      <div
        class="custom-form-item"
        *ngIf="!(mode === 'View' && !pet.dateOfDeath)"
      >
        <label for="dateOfDeath">Date of death</label>
        <div *ngIf="mode === 'View' && !pet.dateOfDeath">Unknown</div>

        <input
          [(ngModel)]="pet.dateOfDeath"
          name="dateOfDeath"
          type="date"
          [disabled]="mode === 'View'"
          #dateOfDeath="ngModel"
          [class.is-invalid]="
            dateOfDeath.invalid && (dateOfDeath.dirty || dateOfDeath.touched)
          "
          [class.is-valid]="dateOfDeath.valid"
        />
        <div
          class="error-message"
          *ngIf="
            dateOfDeath.invalid && (dateOfDeath.dirty || dateOfDeath.touched)
          "
        >
          Invalid format!
        </div>
      </div>
    </div>

    <div class="custom-form-item">
      <label for="note">Note</label>
      <textarea
        [(ngModel)]="pet.note"
        name="note"
        cols="30"
        rows="10"
        [disabled]="mode === 'View'"
        #note="ngModel"
        [class.is-invalid]="note.invalid && (note.dirty || note.touched)"
        [class.is-valid]="note.valid"
      ></textarea>
      <div
        class="error-message"
        *ngIf="note.invalid && (note.dirty || note.touched)"
      >
        Invalid format!
      </div>
    </div>

    <div class="form-action-buttons">
      <app-button
        type="primary"
        [label]="mode === 'Create' ? 'Add' : 'Save'"
        [disabled]="!petForm.valid"
        *ngIf="mode !== 'View'"
      ></app-button>
      <app-button
        type="secondary"
        [label]="mode === 'View' ? 'Back' : 'Cancel'"
        (onClick)="back()"
      ></app-button>
      <app-button
        type="secondary"
        [label]="'Delete'"
        *ngIf="mode !== 'Create'"
        (onClick)="handleDeletePet()"
      ></app-button>
    </div>
  </form>
</div>
