$white-egg-shade: rgb(245, 245, 240);
$gray-dark: #e4e4e5;
$gray-light: #ededed;
$white-egg-shade-dark: rgba(181, 181, 151, 0.524);

$content-background-color: $white-egg-shade;
$footer-background-color: $white-egg-shade;

$primary-color-red: #ff5f58;
$primary-color-red-dark: #cc4e49;