<app-layout>
  <app-button type="primary" label="Add"></app-button>
  <app-button type="secondary" label="Add 2"></app-button>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed nam accusamus
  harum tempora obcaecati sunt expedita vel et numquam. Velit voluptatem nisi
  ipsam aut aliquam aliquid obcaecati nesciunt veritatis eaque. Lorem ipsum
  dolor sit amet consectetur, adipisicing elit. Sed nam accusamus harum tempora
  obcaecati sunt expedita vel et numquam. Velit voluptatem nisi ipsam aut
  aliquam aliquid obcaecati nesciunt veritatis eaque. Lorem ipsum dolor sit amet
  consectetur, adipisicing elit. Sed nam accusamus harum tempora obcaecati sunt
  expedita vel et numquam. Velit voluptatem nisi ipsam aut aliquam aliquid
  obcaecati nesciunt veritatis eaque. Lorem ipsum dolor sit amet consectetur,
  adipisicing elit. Sed nam accusamus harum tempora obcaecati sunt expedita vel
  et numquam. Velit voluptatem nisi ipsam aut aliquam aliquid obcaecati nesciunt
  veritatis eaque. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed
  nam accusamus harum tempora obcaecati sunt expedita vel et numquam. Velit
  voluptatem nisi ipsam aut aliquam aliquid obcaecati nesciunt veritatis eaque.
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed nam accusamus
  harum tempora obcaecati sunt expedita vel et numquam. Velit voluptatem nisi
  ipsam aut aliquam aliquid obcaecati nesciunt veritatis eaque. Lorem ipsum
  dolor sit amet consectetur, adipisicing elit. Sed nam accusamus harum tempora
  obcaecati sunt expedita vel et numquam. Velit voluptatem nisi ipsam aut
  aliquam aliquid obcaecati nesciunt veritatis eaque. Lorem ipsum dolor sit amet
  consectetur, adipisicing elit. Sed nam accusamus harum tempora obcaecati sunt
  expedita vel et numquam. Velit voluptatem nisi ipsam aut aliquam aliquid
  obcaecati nesciunt veritatis eaque. Lorem ipsum dolor sit amet consectetur,
  adipisicing elit. Sed nam accusamus harum tempora obcaecati sunt expedita vel
  et numquam. Velit voluptatem nisi ipsam aut aliquam aliquid obcaecati nesciunt
  veritatis eaque. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed
  nam accusamus harum tempora obcaecati sunt expedita vel et numquam. Velit
  voluptatem nisi ipsam aut aliquam aliquid obcaecati nesciunt veritatis eaque.
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed nam accusamus
  harum tempora obcaecati sunt expedita vel et numquam. Velit voluptatem nisi
  ipsam aut aliquam aliquid obcaecati nesciunt veritatis eaque. Lorem ipsum
  dolor sit amet consectetur, adipisicing elit. Sed nam accusamus harum tempora
  obcaecati sunt expedita vel et numquam. Velit voluptatem nisi ipsam aut
  aliquam aliquid obcaecati nesciunt veritatis eaque. Lorem ipsum dolor sit amet
  consectetur, adipisicing elit. Sed nam accusamus harum tempora obcaecati sunt
  expedita vel et numquam. Velit voluptatem nisi ipsam aut aliquam aliquid
  obcaecati nesciunt veritatis eaque. Lorem ipsum dolor sit amet consectetur,
  adipisicing elit. Sed nam accusamus harum tempora obcaecati sunt expedita vel
  et numquam. Velit voluptatem nisi ipsam aut aliquam aliquid obcaecati nesciunt
  veritatis eaque. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed
  nam accusamus harum tempora obcaecati sunt expedita vel et numquam. Velit
  voluptatem nisi ipsam aut aliquam aliquid obcaecati nesciunt veritatis eaque.
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed nam accusamus
  harum tempora obcaecati sunt expedita vel et numquam. Velit voluptatem nisi
  ipsam aut aliquam aliquid obcaecati nesciunt veritatis eaque. Lorem ipsum
  dolor sit amet consectetur, adipisicing elit. Sed nam accusamus harum tempora
  obcaecati sunt expedita vel et numquam. Velit voluptatem nisi ipsam aut
  aliquam aliquid obcaecati nesciunt veritatis eaque.
</app-layout>
