pre {
  font-weight: 700;
}

.author-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  margin: 3rem auto;
  width: 50%;
  max-width: 550px;
}

.author-details {
  width: 100%;
  font-size: 18px;
}

.author-info {
  display: flex;
  justify-content: space-between;
}

.author-profile-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  width: 230px;

  & > img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
  }
}
.app-version-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 750px) {
  .author-info {
    display: block;
    margin: 2rem 0;
  }
}