<div class="about-page">
  <h1 class="page-title">About me 👨🏻‍💻</h1>
  <div class="author-container">
    <div class="author-profile-pic-container">
      <img
        src="../../../assets/author-profile-pic.JPG"
        alt="author profile pic"
      />
    </div>
    <div class="divider"></div>
    <div class="author-details">
      <div>
        <div class="author-info">
          Name:
          <pre>Adam Kara</pre>
        </div>
        <div class="author-info">
          Neptun ID:
          <span>
            <pre>IPN14Q</pre>
          </span>
        </div>
        <div class="author-info">
          Email:
          <pre>kara.p.adam@gmail.com</pre>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="app-version-container">
      <app-app-version></app-app-version>
    </div>
  </div>
</div>
